<!doctype html>
<html>
  {{ partial "head.html" . }}
  <head>
    {{ partial "fontawesome.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <h1>{{ .Site.Title }}</h1>
    <div class="blog">
      <div class="introduction">
        {{ .Content }}
      </div>
      <div class="posts">
        {{ range .Site.RegularPages -}}
          <article class="blog_post">
            <h1 class="post-title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            <time
              datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}"
              class="post-date"
              >{{ .Date.Format "Mon, 2.1.2006" }}</time
            >
            {{ .Summary }}

            ...

            <div class="keywords-container">
              {{ range .Params.keywords }}
                <a class="keyword">{{ . }}</a>
              {{ end }}
            </div>
          </article>
        {{- end }}
      </div>
    </div>
  </body>
</html>
