{{ define "main" -}}
  <div class="blog">
    <div class="post">
      <h1>{{ .Title }}</h1>
      <time
        datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}"
        class="post-date"
        >{{ .Date.Format "Mon, 2.1.2006" }}</time
      >

      <div class="keywords-container">
        {{ range .Params.keywords }}
          <a class="keyword">{{ . }}</a>
        {{ end }}
      </div>
      {{ .Content }}
    </div>
    {{ template "_internal/disqus.html" . }}
  </div>
{{- end }}
