@page {
  size: 210mm 297mm;
  margin-top: 5mm;
  margin-right: 5mm;
  margin-bottom: 5mm;
  margin-left: 5mm;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-align: center;
}

#header-pagedjs {
  display: none;
}

@media print, @media screen {
  nav,
  .no-print {
    display: none !important;
    height: 0;
  }

  .no-print,
  .no-print * {
    display: none !important;
    height: 0;
  }
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
}

nav a {
  color: #2e3d49;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #192e5b33;
}

h1 {
  color: #2e3d49;
}

h2 {
  color: #001f3f;
}

h3 {
  color: #192e5b;
}

h4 {
  color: #192e5bee;
}

a {
  color: #192e5b;
}

.blog {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  font-size: 0.9rem;
}

.blog post {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  font-size: 0.9rem;
}

.keyword {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #192e5baa;
  color: #fff;
  box-sizing: border-box;
  border-radius: 1rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.25rem;
  padding-bottom: 0.15rem;
  margin: 0.1rem;
}

.cv {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  font-size: 0.9rem;
}

.cv table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  break-inside: avoid;
}

.cv th,
.cv td {
  padding: 0.2rem 0.5rem;
  text-align: left;
  break-inside: avoid;
}

.cv ul {
  text-align: left;
  break-inside: avoid;
}

.cv li {
  line-height: 1em;
  padding: 0.15rem;
  margin: 0.01rem;
  break-inside: avoid;
}

.cv p {
  break-inside: avoid;
}

.cv hr {
  break-after: auto;
}

.my-portrait {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.personal-information {
  text-align: center;
  break-inside: avoid;
}

.personal-information p {
  margin: 0;
  padding: 0;
}

.personal-information a {
  color: inherit;
}

.break-before {
  break-before: page;
}

.centered {
  text-align: center;
}

.skills-list {
  display: inline;
  text-align: center;
}

.skills-list li {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #192e5baa;
  color: #fff;
  box-sizing: border-box;
  border-radius: 1rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.25rem;
  padding-bottom: 0.15rem;
  margin: 0.1rem;
}
