<div class="cv">
  <!-- <div class="cv-column-left"> -->
  <div class="personal-information">
    {{ with .Site.GetPage "/cv/personal-information" }}
      {{ range .Resources }}
        <!-- <img class="my-portrait" src="/images/david.jpg" /> -->
        <h1>{{ .Params.my_name }}</h1>
        <p>{{ .Params.my_job }}</p>
        <p>
          <i class="fas fa-home"></i>
          <em>{{ .Params.my_home }}</em>
        </p>

        <p>
          <a class="href-icon" href="mailto:{{ .Params.my_email }}"
            ><i class="fas fa-envelope"></i
          ></a>
          &nbsp;
          <a class="href-icon" href="{{ .Params.my_gitlab }}"
            ><i class="fab fa-gitlab"></i
          ></a>
          &nbsp;
          <a class="href-icon" href="{{ .Params.my_github }}"
            ><i class="fab fa-github"></i
          ></a>
          &nbsp;
          <a class="href-icon" href="{{ .Params.my_linkedin }}"
            ><i class="fab fa-linkedin"></i
          ></a>
        </p>
      {{ end }}
    {{ end }}
  </div>

  <!-- </div> -->

  <!-- <div class="cv-column-right"> -->
  <div class="about-me">
    {{ with .Site.GetPage "/cv/personal-information" }}
      {{ range .Resources }}
        {{ .Content }}
      {{ end }}
    {{ end }}
  </div>

  <div class="experience">
    {{ with .Site.GetPage "/cv/experience" }}
      <h2>Professional Experience</h2>
      {{ with .Resources }}
        {{ range sort . ".Params.start_date" "desc" }}
          <div class="experience-entry">
            {{ $t_start := time.AsTime .Params.start_date }}
            {{ $t_start := time.Format "Jan 2006" $t_start }}

            {{ $separator := " | " }}
            {{ if eq .Params.end_date "Present" }}
              <h3>
                <a
                  class="href-url"
                  href="{{ .Params.company_site }}"
                  title="{{ .Params.company_site }}"
                  >{{ .Params.company }}</a
                >
                {{ $separator }}
                {{ .Title }}
                {{ $separator }}
                <em>{{ .Params.company_location }}</em> {{ $separator }}
                <em>{{ $t_start }} - Present</em>
              </h3>
            {{ else }}
              {{ $t_end := time.AsTime .Params.end_date }}
              {{ $t_end := time.Format "Jan 2006" $t_end }}
              <h3>
                <a
                  class="href-url"
                  href="{{ .Params.company_site }}"
                  title="{{ .Params.company_site }}"
                  >{{ .Params.company }}</a
                >
                {{ $separator }}
                {{ .Title }}
                {{ $separator }}
                <em>{{ .Params.company_location }}</em> {{ $separator }}
                <em>{{ $t_start }} - {{ $t_end }}</em>
              </h3>
            {{ end }}


            <div class="experience-description">{{ .Content }}</div>

            <div class="tech-stack">
              <ul class="skills-list">
                {{ range .Params.tech_stack }}
                  <li class="skills-list-item">{{ . }}</li>
                {{ end }}
              </ul>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

  <div class="education">
    {{ with .Site.GetPage "/cv/education" }}
      {{ range .Resources }}{{ .Content }}{{ end }}
    {{ end }}
  </div>
  <!-- </div> -->
</div>
