<header>
  <nav id="nav" class="no-print">
    {{- range site.Menus.main }}
      <a href="{{ .URL }}">
        {{ .Name }}
        {{- with .Page }}
          {{- with .Params.version -}}
            ({{ . }})
          {{- end }}
        {{- end }}
      </a>
    {{- end }}
  </nav>
</header>
