<head>
  <meta charset="utf-8" />
  <meta name="description" content="David Wright's personal website" />
  <meta
    name="keywords"
    content="David Wright, Software, Developer, C++, Rust, Python, Java"
  />
  <meta name="author" content="David Wright" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap"
    rel="stylesheet"
  />
  <link
    href="http://fonts.cdnfonts.com/css/helvetica-neue-9"
    rel="stylesheet"
  />
  <link rel="icon" href="favicon.ico" />
  <title>David Wright</title>
</head>
