<!doctype html>
<html>
  {{ partial "head.html" . }}
  <head>
    {{ partial "fontawesome.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="cv">
      {{ .Content }}
    </div>
  </body>
</html>
